html {
    background-color: #EBEBEB;
}

/*---------------------------------SCROLLBAR---------------------------*/
::-webkit-scrollbar {
    width: auto;

}

::-webkit-scrollbar-track {
    background: #EBEBEB;

}

::-webkit-scrollbar-thumb {
    background: #CCA000;
    height: 50vh;

}

::-webkit-scrollbar-thumb:hover {
    background: #F5CC00;

}

/*-------------------------------------------------------------------------*/


.home_container {
    /* width: 100vw; */
    background-color: #EBEBEB;

}

.welcome_section {
    height: 35vh;
    background-image: url("../images/hero_background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid black;
    /* border-bottom: 4px solid black; */
}

.welcome_section h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    color: #ffff;
}

.main_category_class {
    display: flex;
    justify-content: center;
    padding-top: 7.5vh;
    gap: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 0;
    border-top: 4px solid black;



}

.main_category_class {
    height: 40vh;
    background-image: linear-gradient(0deg, rgba(3, 121, 241, 0) 0%, rgba(3, 121, 241, 0) 9%, transparent 9%, transparent 16%, rgba(11, 75, 199, 0) 16%, rgba(11, 75, 199, 0) 49%, rgba(9, 86, 209, 0) 49%, rgba(9, 86, 209, 0) 100%), linear-gradient(135deg, rgb(0, 53, 102) 0%, rgb(0, 53, 102) 31%, rgb(0, 29, 61) 31%, rgb(0, 29, 61) 37%, transparent 37%, transparent 56%, rgb(0, 53, 102) 56%, rgb(0, 53, 102) 100%), linear-gradient(90deg, rgb(235, 235, 235), rgb(235, 235, 235));
}

.main_category_videos {
    height: 40vh;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 400px;
    position: relative;
    border: 4px solid black;

}

.main_category_videos::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: transform 150ms ease-in-out;
    cursor: pointer;
    transform: translate(-50px, 50px);
    border: 20px solid #CCA000;
}

.main_category_videos:hover::before {
    transform: translate(0);
}



/*-----------MAIN 3 CATEGORY SELECTOR TEXT--------*/
.category_image_text_hobbi {
    position: absolute;
    margin-bottom: 2vh;
    color: #EBEBEB;
    z-index: 1;

}

.category_image_text_sport {
    position: absolute;
    margin-bottom: 2vh;
    color: #EBEBEB;
    z-index: 1;

}

.category_image_text_szolgalati {
    position: absolute;
    margin-bottom: 2vh;
    color: #EBEBEB;
    z-index: 1;

}

/*--------------------------------------------------*/

.home_container a {
    color: black;
    text-decoration: none;
}


/*----------------FOOTER------------------------*/

.footer {
    height: 100px;
    background-color: #001D3D;
    border-top: 4px solid black;
    background-color: #CCA000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.footer p {
    color: #001D3D;
    font-size: 20px;
}

.footer a {
    color: #001D3D;
    font-size: 20px;
}

.footer a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #CCA000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.footer a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



/*--------------------Event Card---------------------------------*/

.event_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color: #CCA000;



}

.eventCard_box {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(5, auto);

    justify-content: center;
    gap: 1em;
    margin-bottom: 5em;
    z-index: 1;

}

.eventCard_container {
    position: relative;
    margin: 24px 10px 24px 10px;
    width: 15em;
    height: 570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 29, 61, 0.5);
    cursor: pointer;
    border: 3px solid black;

}




.eventCard_img_container,
.eventCard_body_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.eventCard_img_container img {
    width: 100%;

}

.eventCard_body_container {
    position: relative;
}

.eventCard_overlay {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(204, 160, 0, 0.8);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.eventCard_container:hover .eventCard_overlay {
    opacity: 1;
    height: 150px;
}

.event_info {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.event_title,
.price {
    color: #001D3D;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 30%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
    border-radius: 25px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 80px;
    padding: 0px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.eventCard_container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}







/* .eventCard {
    height: 300px;
    border: 1px solid #CCA000;
    font-size: 16px;
    padding-bottom: 1em;
    border-radius: 15px;
    overflow: hidden;

    
}

.eventCard p {
    padding: 0 5px 0 5px;
}

.eventCard img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    padding: 0;
    
} */



/*----------------------------Background Decoration------------------------------*/

.event_section {
    position: relative;
    border-top: 4px solid black;

}

.event_section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #EBEBEB;
    clip-path: polygon(100% 0, 0 100%, 100% 110%);
}

.contact_and_facebook_box {
    position: relative;

}

.contact_and_facebook_box::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 500px;
    background: #003566;
    clip-path: polygon(100% 0, -140% 100%, 100% 100%);


}

/*-------------------------------------------------------------------------------------*/

/* .oxford_blue {
    background: linear-gradient(90deg, #002446, #EBEBEB);

} */

.yale_blue {
    background-color: #003566;

}

.satin_sheen_gold {
    background-color: #CCA000;

}

.jonquiil {
    background-color: #F5CC00;

}

.aniti_flash_white {
    background: linear-gradient(90deg, #EBEBEB, #001D3D);

}



/*Event Modal*/

.eventModal {
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 600px;
    left: 0;
    background-color: #b6b6b6;

}

.eventModal img {
    height: 250px;
}

/*-----------------------------------Facebook, Contact and Google Maps box------------------------------*/

.contact_and_facebook_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0px 0 0px 0;


}


.contact_form_box_container {
    background-color: #EBEBEB;
    padding: 20px;

}


.google_maps_box,
.facebook_box {
    width: 466px;
}

.google_maps,
.contact_form_box_container,
.facebook_feed {
    border: 3px solid black;
    border-bottom: none;
    box-shadow: 0 0 30px 5px rgba(0, 29, 61, 0.5);
}


@media only screen and (min-width: 1795px) {

    .event_section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 0 150px 0;
        /*  height: 500px;
         */



    }


    .event_section {

        height: 500px;
    }

}





@media only screen and (min-width: 895px) {

    /*--------------------HERO PAGE-----------------*/
    /*  .hero_page_container {
        height: 100vh;

    }
 */
    .main_category_class {
        height: 60vh;

    }

    .main_category_videos {
        height: 35vh;
        display: flex;
        justify-content: center;
        width: 500px;

    }


}


@media only screen and (max-width: 1395px) {

    .eventCard_box {
        grid-template-columns: repeat(6, auto);


    }

    .eventCard_container {
        grid-column: span 2;
    }

    .eventCard_container:last-child:nth-child(3n - 1) {
        grid-column-end: -2;
    }

    .eventCard_container:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
    }

    .event_section h2 {
        margin: 50px 0 50px 0;
    }
}

@media only screen and (max-width: 1076px) {
    .eventCard_box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

    .eventCard_container:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: -1;
    }

    .google_maps_box,
    .facebook_box {
        /* margin-bottom: 50px; */
    }

    .contact_and_facebook_box {
        /* margin: 0; */
    }


}


@media only screen and (max-width: 895px) {

    .event_section h2 {
        font-size: 20px;
    }

    .eventModal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;
        left: 0;
        background-color: #EBEBEB;
    }

    .eventCard_container {
        position: relative;
        margin: 24px 10px 24px 10px;
        width: 20em;
        height: 500px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 30px 5px rgba(0, 53, 102, 0.5);
        cursor: pointer;
    }



    .eventCard_box {
        font-size: 12px;

    }

    .contact_and_facebook_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* gap: 1vw; */


    }


    .contact_form_box_container {

        border-radius: 0;
        padding: 20px;
        /* width: 75vw; */
        /* margin: 0; */

    }


}

@media only screen and (max-width: 645px) {


    /*--------------------Event Card---------------------------------*/

    .event_section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;



    }

    .event_section h2 {
        margin: 20px 0 0 0;
        color: #CCA000;
        text-shadow: 1px 1px #001D3D;
    }



    .event_section h2 {
        margin: 50px 0 50px 0;
    }

    .eventCard_container {
        position: relative;
        margin: 24px 10px 24px 10px;
        width: 12em;
        height: 300px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 30px 5px rgba(0, 29, 61, 0.5);
        cursor: pointer;
    }

    .eventCard_img_container,
    .eventCard_body_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .eventCard_img_container img {
        width: 100%;

    }

    .eventCard_body_container {
        position: relative;
    }

    .eventCard_overlay {
        position: relative;
        width: 100%;
        height: 215px;
        background-color: rgb(204, 160, 0, 0.8);
        opacity: 0;
        transition: height linear 0.4s, opacity linear 0.2s;
    }

    .eventCard_container:hover .eventCard_overlay {
        opacity: 1;
        height: 150px;
    }

    .event_info {
        background-color: #EBEBEB;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
    }

    .event_date_and_time {
        font-size: 1em;
    }

    .event_title {
        color: #001D3D;
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 12px 0px 12px 0;
    }

    .info {
        letter-spacing: 0.5px;
        margin-bottom: 6px;
    }

    .separator {
        width: 30%;
        height: 6px;
        background-color: #17537a;
        margin-bottom: 16px;
        border-radius: 25px;
    }

    .additional-info {
        border-top: 1px solid #bbb;
        margin-top: 0px;
        padding: 0px;
        padding-bottom: 0;
    }

    .additional-info .info {
        font-size: 0.9em;
        margin-bottom: 20px;
        text-align: center;
    }

    .info i {
        color: #18537a;
        font-size: 1.1em;
        margin-right: 4px;
    }

    .info span {
        color: #18537a;
        font-weight: bolder;
    }

    .action {
        color: #fff;
        border: 3px solid #fff;
        background-color: transparent;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        outline: none;
        cursor: pointer;
        padding: 12px;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: bold;
        letter-spacing: 2px;
        transition: background-color 0.4s, top 0.4s;
    }

    .eventCard_container:hover .action {
        top: 50px;
    }

    .action:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    /*----------------------------------------------------------*/




    /*-------------------------Google Maps, Contact and Facebook---------------------------*/

    .google_maps_box {
        width: 75vw;
        margin-bottom: 50px;
    }


    .contact_form_box_container {
        margin-bottom: 60px;
        width: 100%;
    }

    .facebook_box {
        width: 75vw;

    }

    .google_maps,
    .contact_form_box_container,
    .facebook_feed {
        border: none;
        box-shadow: 0 0 30px 5px rgba(0, 29, 61, 0.5);
    }


    /*----------------------------------------------------------*/

    /*-------------------------Footer---------------------------*/

    .footer {
        height: 100px;
        background-color: #001D3D;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;

    }

    .footer p {
        color: #001D3D;
        font-size: 20px;
        position: absolute;
        left: 15%;
    }

    .footer a {
        color: #CCA000;
        font-size: 20px;
        position: absolute;
        right: 5%;
    }

    .footer a::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0px;
        left: 0;
        background-color: #CCA000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .3s ease-in-out;
    }

    .footer a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }




}

@media only screen and (max-width: 400px) {

    .footer p,
    .footer a {
        font-size: 1em;
    }

    .eventCard_container {
        position: relative;
        margin: 24px 0px 24px 0px;
        width: 12em;
        height: 300px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 30px 5px rgba(0, 29, 61, 0.5);
        cursor: pointer;
    }
}



/*----------------------------------------------------------*/