.home_container {
    /* width: 100vw; */
    background-color: #EBEBEB;

}

.main_category_class {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    text-align: center;
    position: relative;


}

/*-----------MAIN 3 CATEGORY SELECTOR TEXT--------*/
.category_image_text_hobbi {
    position: absolute;
    margin-bottom: 2vh;
    color: #EBEBEB;
    z-index: 1;

}

.category_image_text_sport {
    position: absolute;
    margin-bottom: 2vh;
    color: #EBEBEB;
    z-index: 1;

}

.category_image_text_szolgalati {
    position: absolute;
    margin-bottom: 2vh;
    color: #EBEBEB;
    z-index: 1;

}

/*--------------------------------------------------*/

.home_container a {
    color: black;
    text-decoration: none;
}

.main_category_pictures {
    height: 25vh;
    background-color: black;
    opacity: 0.54;
    display: flex;
    justify-content: center;
    align-items: end;

}

.home_page_links_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.home_page_links_container>a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin: 40px 5px 0px 5px;
}

/*----------------Facebook------------------------*/

.facebook_feed {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

iframe {
    border-radius: 10px;
    box-shadow: 2px 2px 4px #ccc;
}

.ribbon_box {
    height: 100px;
    background-color: #F5CC00;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ribbon {
    background-color: #001D3D;
    transform: rotateY(0deg) rotate(45deg);
    width: 70.71067811865476px;
    height: 70.71067811865476px;
    background-size: 4rem 4rem;
    position: relative;

}

.ribbon_yellow {
    background-color: crimson;
    transform: rotateY(0deg) rotate(45deg);
    width: 70.71067811865476px;
    height: 70.71067811865476px;
    background-size: 4rem 4rem;
    z-index: 1;
    position: absolute;
    left: 47.7%;



}


@media only screen and (min-width: 895px) {

    /*--------------------HERO PAGE-----------------*/
    .hero_page_container {
        height: 100vh;
        box-sizing: border-box;

    }

    .home_page_links_container {
        display: none;
        box-sizing: border-box;
    }

    .main_category_class {
        /* max-width: auto; */
        height: 90vh;
    }

    .main_category_pictures {
        height: 100%;
        /* object-fit: fill; */
        /* height: 100%; */
        /* width: 100%; */
        background-color: black;
        /* opacity: 0.54; */

    }

    /*-------------------CONTACT AND FACEBOOK PAGE----------*/

    .contact_and_facebook_box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5vw;
        height: 100vh;
        padding-top: 5vh;
    }

    .contact_form_box_container {
        background-color: #003566;
        border-radius: 15px;
        padding: 20px;

    }

}