.kikepzok_box {
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(135deg, transparent 0%, transparent 21%, rgb(204, 160, 0) 21%, rgb(204, 160, 0) 48%, transparent 48%, transparent 95%, rgb(245, 204, 0) 95%, rgb(245, 204, 0) 100%), linear-gradient(45deg, transparent 0%, transparent 6%, rgb(253, 225, 42) 6%, rgb(253, 225, 42) 13%, rgb(245, 204, 0) 13%, rgb(245, 204, 0) 32%, transparent 32%, transparent 100%), linear-gradient(90deg, rgb(235, 235, 235), rgb(235, 235, 235));
    min-height: 93vh;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.kikepzok_box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #EBEBEB;
    clip-path: polygon(100% 0, 0 100%, 100% 110%);
}

.kikepzok_box h1 {
    text-align: center;
    /* margin-top: 100px; */
    padding: 25px 0 25px 0;
    margin: 0;
    /* bottom: 70px; */


}


/*Szabo Balazs*/
.balazs_box {
    backdrop-filter: blur(50px);
    background-color: rgba(0, 29, 61, 0.9);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 1500px;
    color: #FFFF;
    border: 6px solid black;
    padding: 30px;

}

.balazs_box img {
    float: left;
    max-width: 400px;
    margin: 20px 30px 30px 30px;
}


.balazs_box p {
    font-size: 18px;
    margin-right: 50px;
}


.clearfix {
    overflow: auto;
}



.balazs_dogs img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 0 50px 0 0;
    transition: all .5s ease 0s;

}

.balazs_dogs img:hover {
    transform: scale(1.5);
    transition: all .5s ease 0s;

}

/*György Nikolett*/

.niki_box {
    backdrop-filter: blur(50px);
    background-color: rgba(0, 29, 61, 0.9);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    max-width: 1500px;
    color: #FFFF;
    border: 6px solid black;
    padding: 30px;
}

.niki_box img {
    float: left;
    width: 400px;
    margin: 20px 30px 30px 30px;
}

.niki_box p {
    text-align: left;
    font-size: 18px;
    margin-right: 50px;
}

.niki_dogs img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 0 50px 0 0;
    transition: all .5s ease 0s;
}

.niki_dogs img:hover {
    transform: scale(1.5);
    transition: all .5s ease 0s;

}

@media only screen and (max-width: 608px) {
    .balazs_box,
    .niki_box {
        width: 85vw;
        color: #FFFF;
        border: 3px solid black;
        padding: 10px;
        margin: 0 0 50px 0;
        padding: 0;

    }

    .balazs_box h3,
    .niki_box h3 {
        text-align: center;
        margin: 20px 0 10px 0;
    }

    .balazs_box img,
    .niki_box img {
        float: none;
        max-width: none;
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: top;
        margin: 0;
        padding: 0;
    }


    .balazs_box p,
    .niki_box p {
        font-size: 18px;
        margin: 0;
        padding: 10px;
    }

    .balazs_dogs,
    .niki_dogs {
        display: flex;
        justify-content: center;
    }

    .balazs_dogs img,
    .niki_dogs img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin: 20px 20px 20px 20px;
        transition: all .5s ease 0s;

    }



}