.category_box {
    height: 40vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EBEBEB;

}

.subCategory_titles {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.subcategory_box {
    width: 75vw;
}

.subCategory_titles h2 {
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
    display: inline-block;
    text-align: center;

}

.subCategory_titles {
    position: relative;
    width: auto;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 50px;
    z-index: 1;

}





/*---------------------------------------------------------------------------*/
.subCategory_image_box {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.subCategory_image_box img {
    max-width: 60%;

}


/*-------------------------------SUBCATEGORY BACKGROUND DECORATION-----------------*/

.category_box {
    position: relative;
}

.category_box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #EBEBEB;
    clip-path: polygon(100% 0, 0 100%, 100% 110%);
}

@media only screen and (min-width: 1000px) {
    .animation {
        position: absolute;
        height: 15%;
        top: 100%;
        background-color: #001D3D;
        width: 100px;
        border-radius: 3px;
        z-index: -1;
        transition: all .5s ease 0s;
    }

    .subCategory_titles h2:nth-child(1) {
        width: 150px;
    }


    .start_PULLER,
    .start_ŐRZŐ-VÉDŐ,
    .subCategory_titles h2:nth-child(1):hover~.animation {
        width: 150px;
        left: 0;
    }

    .subCategory_titles h2:nth-child(2) {
        width: 150px;
    }


    .start_AGILITY,
    .start_ENGEDELMES,
    .subCategory_titles h2:nth-child(2):hover~.animation {
        width: 150px;
        left: 190px;
    }

    .subCategory_titles h2:nth-child(3) {
        width: 150px;
    }

    .start_ŐRZŐ-VÉDŐ,
    .start_OBEDIENCE,
    .subCategory_titles h2:nth-child(3):hover~.animation {
        width: 150px;
        left: 395px;
    }


    .subCategory_titles h2:nth-child(4) {
        width: 150px;
    }

    .start_IGP,
    .subCategory_titles h2:nth-child(4):hover~.animation {
        width: 150px;
        left: 600px;
    }

    .subCategory_titles h2:nth-child(5) {
        width: 150px;
    }

    .start_MANTRAILING,
    .subCategory_titles h2:nth-child(5):hover~.animation {
        width: 150px;
        left: 800px;
    }
}

@media only screen and (max-width: 700px) {

    .subCategory_titles {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 20px;
        margin-bottom: 100px;

    }

    .subCategory_titles h2 {
        grid-column: span 2;
    }

    
    .subCategory_titles h2:nth-last-child(3) {
        grid-column-end: -4;
        
    }
    
    .subCategory_titles h2:nth-last-child(2) {
       grid-column-end:  -2;
    }

}