.contact_form {
    position: relative;
    width: 100%;
}


.contact_form_box h2 {
    color: black;
    margin: 2em 0 0 0;
    
}

.contact_form .row50 {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;

}

.inputBox textarea {
    background-image: url("../images/tbk_logo10.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;


}

.contact_form .row100 .inputBox {
    width: 100%;
}


.inputBox span {
    margin: 10px 0 5px 0;
    font-weight: 500;
    color: black;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    /* border: 1px solid #836A39; */
}

.inputBox textarea {
    padding: 20px;
    font-size: 24px;
    outline: none;
    border: 1px solid black;
    /* border: 1px solid #836A39; */
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact_form_submitbutton {
    background-color: #CCA000;
    color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 1px solid grey;

}

.contact_form_submitbutton:hover {
    border: 1px solid #FFFF;
    box-shadow: 0 0 5px 5px #A8894A !important;
    transition: all 0.2s linear;
}

@media screen and (max-width: 500px) {
    .inputBox input {
        width: 35vw;
    }
}